@use "components" as *;
@use "layouts" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: white;
  --primary-color: #1ebde3;
  --primary-color-dark: #36a1bb;
  --primary-color-darker: #427888;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Regular.ttf");
}

html {
  font-family: "Cairo", sans-serif;
  font-size: 62.5%;
  direction: rtl;
}

*,
*::after,
*::before {
  font-family: "Cairo";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
