@use "components" as *;
@use "layouts" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap");

:root {
  --color-white: white;
  --primary-color: #1ebde3;
  --primary-color-dark: #36a1bb;
  --primary-color-darker: #427888;
}

.text-blue {
  color: #36A1BB;
}

.text-red {
  color: #E94921;
}

.text-black {
  color: #303031;
}

.bg-blue-gradient { 
  background: rgb(18,131,158);
  background: linear-gradient(90deg, rgba(18,131,158,1) 0%, rgba(18,199,243,1) 100%);
}

.bg-blue {
  background-color: #36A1BB;
}

.bg-red {
  background-color: #E94921;
}

.bg-black {
  background-color: #303031;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Regular.ttf");
}

@font-face {
  font-family: "4_67";
  src: url("../public/fonts/4_67.ttf");
}

html {
  font-family: "4_67";
  direction: rtl;
}

*,
*::after,
*::before {
  font-family: "4_67";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @layer base {
    html {
      font-family: "Almarai", sans-serif;
      direction: rtl;
    }

    @layer base {
      html {
        font-family: "Almarai", sans-serif;
        direction: rtl;
      }
    }

    @layer base {
      html {
        font-family: "Almarai", sans-serif;
        direction: rtl;
      }
    }
  }
}
